#promomail {
  .list-header{
    text-transform: uppercase;
    font-weight: 400;
    color: #bbbbbb;
    padding: 5px 16px;
  }

    .promomail-list-pane {

        .promomail-list-item {
            position: relative;
            padding: 0px 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            cursor: pointer;

            &.read {

            }

            &.unread {
                background: #FFFFFF;

                .info {

                    .subject,
                    .message {
                        font-weight: 500;
                    }
                }
            }

            &.selected {
                background: #E3F2FD;
            }

            &.checked {
                background: #FFF8E1;
            }
          .client{
            width:150px;
            height:auto;
            text-align:center;
            font-size:16px;
            color:#707070;
          }

          .status{
            width:60px;
            height:auto;

            .pill{
              width:100%;
              height:auto;
              border-radius:3px;
              color:#fff;
              font-weight:700;
              text-align:center;
              padding-top:5px;
              padding-bottom:5px;
            }

            .unpaid{
              background-color:#f44336;
              border:1px solid #f06157;
            }

            .partial{
              background-color:#ff9800;
              //border:1px solid #ffb445;
            }

            .paid{
              background-color:rgb(83, 206, 83);
              border:1px solid rgb(83, 206, 83);
            }
          }
            .info {
                overflow: hidden;
                width: 0;
                margin: 0;

                .prodImage{
                    .listMedia {
                        min-width: 70px;
                        width: 70px;
                        height: 70px;
                        line-height: 70px;
                    }

                    .has-attachment {
                        margin-left: 8px;
                        transform: rotate(90deg);
                    }
                }

                .prodMainInfo {
                    font-size: 16px;
                    font-weight: 500;
                    padding-left: 16px;
                    padding-bottom: 8px;

                    .code {
                        font-size: 13px;
                        font-weight:400;
                      margin: -15px;
                    }


                }

              .topMargin{
                margin-top: 10px;
              }

              .promoMainInfo {
                color:#05a3ec;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                padding-left: 16px;
                padding-bottom: 0px;

                .promoType {
                  font-size: 13px;
                  font-weight:300;
                  text-transform: capitalize;
                  color:#979797;
                }
              }

                .prodCost{
                    font-size:28px;
                    font-weight:300;
                    color:rgb(3,155,229);
                }

                .message {
                    color: rgba(0, 0, 0, 0.54);
                }
              .pormoState{
                display: block;
                padding: 3px 8px;
                border-radius: 4px;
                background: green;
                color: #FFFFFF;
                font-size: 14px;
                text-align: center;
                width: 68px;
              }
              .promoActive{
                @extend .pormoState;
                background: rgb(83, 206, 83);
              }

              .promoExpired{
                @extend .pormoState;
                background: orange;
              }

              .date{
                width:100px;
                height:55px;
                text-align:center;
                color:#3f3f3f;

                span:nth-child(1){
                  //font-size: 20px;
                  //height: 23px;
                  font-size: 15px;
                  height: 23px;
                  color: #777;
                }

                span:nth-child(2){
                  font-size:14px;
                  font-weight:700;
                }

                span:nth-child(3){
                  font-size:15px;
                }
              }
            }

            .time {
                margin: 0 8px;
            }
        }
    }
}
