
<div layout="column">
    <md-content class="pb-30" flex ms-scroll>
        <div layout="row">
            <div></div>
        </div>
        <form name="vm.couponAdd" ng-submit="submit()" id="couponForm" novalidate>
            <!--CREATE NEW INVOICE _ CARDED=================================================-->
            <md-card flex class="input-block-gen">
                <md-card-title>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-cog"></md-icon> <h3>General Details</h3>
                    </div>
                </md-card-title>
                <md-card-content>
                    <div layout="row" layout-align="center center">
                        <md-input-container>
                            <md-radio-group name="couponType" ng-required ng-model="content.coupontype" layout="row" class="cc-switch-buttons-group">
                                <md-radio-button value="0" class="cc-switch-buttons" md-ink-ripple ng-disabled="content.coupontype == 0" ng-style="content.coupontype == 1 ? {'z-index':'1'} : {'z-index':'0'}">Promotion</md-radio-button>
                                <md-radio-button value="1" class="cc-switch-buttons" md-ink-ripple ng-disabled="content.coupontype == 1" ng-style="content.coupontype == 0 ? {'z-index':'1'} : {'z-index':'0'}">Coupon</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="30">
                            <label>Coupon Code</label>
                            <input ng-required="true" minlength="null"  md-maxlength="null" type="" name="couponCode" ng-pattern="" ng-model="content.couponcode" ng-maxlength="20">
                            <div ng-messages="vm.couponAdd.couponCode.$error">
                                <div ng-message="maxlength">Code must be between 1-20 characters</div>
                            </div>
                        </md-input-container>
                      <div flex="5"></div>
                      <md-input-container flex="30" ng-show="content.coupontype == 1">
                        <label>Generate more coupons</label>
                        <input minlength="null"  md-maxlength="null" type="number" id="generateCoupon" name="generateCoupon" ng-pattern="" ng-model="content.generateCoupon" ng-maxlength="20" min="0">
                        <!--<div ng-messages="vm.couponAdd.generateCoupon.$error">-->
                          <!--<div ng-message="maxlength">Number must be between 1-20 characters</div>-->
                        <!--</div>-->
                      </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="30">
                            <label>Start Date</label>
                            <md-datepicker ng-model="content.startdate" md-placeholder="Start date" >
                            </md-datepicker>
                        </md-input-container>
                        <div flex="5"></div>
                        <md-input-container flex="30">
                            <label>End Date</label>
                            <md-datepicker ng-model="content.enddate" md-placeholder="End date" ng-required="!NoEndDate" ng-disabled="NoEndDate">
                            </md-datepicker>
                        </md-input-container>
                    </div>
                    <div layout="row" class="h-90">
                        <md-input-container flex="30">
                            <label>Occurrences</label>
                            <input ng-required="true" minlength="null" md-maxlength="null" type="number" min="1" max="1000000" name="default1" ng-pattern="" ng-model="content.noofoccurence">
                            <div ng-messages="vm.couponAdd.default1.$error">
                                <div ng-message="max">Occurrences must be between 1-7 digits</div>
                                <div ng-message="min">Occurrences must be between 1-7 digits</div>
                            </div>
                        </md-input-container>

                        <div flex="5"></div>

                        <div flex="30">
                            <div layout="column" flex>
                                <md-input-container class="mb-0">
                                    <label>Redemption</label>
                                    <input ng-required="!content.noRedemptionCount" minlength="null" ng-disabled="content.noRedemptionCount" md-maxlength="null" type="number" name="couponRedemption" ng-pattern="" ng-model="content.couponRedemption" ng-maxlength="20">
                                    <div ng-messages="vm.couponAdd.couponRedemption.$error" ng-if="!content.noRedemptionCount">
                                        <div ng-message="maxlength">Redemption must be between 1-20 characters</div>
                                    </div>
                                </md-input-container>
                                <md-checkbox ng-model="content.noRedemptionCount" id="noRedemptionCount" name="noRedemptionCount" aria-label="noRedemptionCount" class="md-primary dep-checkbox">Apply forever</md-checkbox>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex class="input-block-gen">
                <md-card-title>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-gift"></md-icon> <h3>Discount details</h3>
                    </div>
                </md-card-title>
                <md-card-content>
                    <div layout="row">
                        <md-input-container flex="30">
                            <label>Discount type</label>
                            <md-select name="addDiscountType" required ng-model="content.discounttype">
                                <md-option value="0" >Flat</md-option>
                                <md-option value="1" >Percentage</md-option>
                            </md-select>
                        </md-input-container>
                        <div flex="5"></div>
                        <md-input-container flex="30">
                            <label>Discount</label>
                            <input ng-required="true" minlength="null" md-maxlength="null" type="number" name="couponDiscount" ng-pattern="" ng-model="content.couponDiscount" min="1" max="{{content.discounttype == 0 ? 1000000 : 100}}">
                            <div ng-messages="vm.couponAdd.couponDiscount.$error">
                                <div ng-message="max" ng-if="content.discounttype == 0">Discount must be between 1-7 digits</div>
                                <div ng-message="max" ng-if="content.discounttype == 1">Discount must be between 1-100</div>
                                <div ng-message="min">Discount can not be minus</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <md-card flex class="input-block-gen">
                <md-card-title>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-icon="icon-map"></md-icon> <h3>Entitled plans</h3>
                    </div>
                </md-card-title>
                <md-card-content md-whiteframe="1dp">

                    <!--<div class="prod-row-wrap" ng-repeat="plan in planList.slice().reverse()">-->
                    <!--&lt;!&ndash;<md-card layout="row" id="divId" class="add-item-row"  md-whiteframe="1dp">&ndash;&gt;-->

                    <!--<div layout="column" layout-align="center center" style="float: left;width: 200px">-->
                    <!--<md-checkbox id="plan.guPlanID" ng-checked="couponPlan.indexOf(plan.guPlanID) === 0" name="plan.guPlanID" ng-click="selectPlan(plan.guPlanID)">{{plan.name}}-->
                    <!--<p>Code : {{plan.code}}</p>-->
                    <!--<p>Price : $ {{plan.unitPrice}}</p>-->
                    <!--</md-checkbox>-->

                    <!--</div>-->
                    <!--&lt;!&ndash;</md-card>&ndash;&gt;-->
                    <!--</div>-->

                    <!--<div layout="row" layout-align="start center" style="height: 50px;">-->
                    <!--<div layout="row" layout-align="start center">-->
                    <!--<md-checkbox ng-model="selectedCoupon.associateplan" id="applyToAll" name="applyToAll" aria-label="Apply to all" class="md-primary" style="margin: 0;">Apply to all</md-checkbox>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<label ng-repeat="plan in planList" class="checkbox-inline">-->
                    <!--<input type="checkbox" name="selectedPlans[]" value="{{plan.guPlanID}}" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)"> {{plan.code}}-->
                    <!--</label>-->

                    <div class="b b-light" style="overflow: hidden;">
                        <div md-whiteframe="1dp" class="pos-rel" style="z-index: 1;">
                            <div class="p-10 light-gray">
                                <md-checkbox ng-disabled="content.coupontype > 0" ng-model="content.associateplan" id="applyToAll" name="applyToAll" aria-label="Apply to all" class="md-primary m-0">Apply to all</md-checkbox>
                            </div>
                        </div>
                        <div class="msg-empty-list" ng-if="planList.length == 0">
                            <span>
                                <md-icon md-font-icon="icon-information-outline"></md-icon> No plan has been created yet
                            </span>
                        </div>
                        <div class="msg-empty-list" ng-if="content.associateplan" layout="row" layout-align="center center">
                            <span>
                                <md-icon md-font-icon="icon-information-outline"></md-icon> Coupon is entitled for all the plans
                            </span>
                        </div>
                        <md-content ms-scroll class="subheaded-list-content mh-352" flex ng-if="!content.associateplan">
                            <div class="p-10" layout="row" ng-repeat="plan in planList">
                                <span flex>
                                    <md-checkbox ng-disabled="content.coupontype > 0" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)" name="selectedPlans[]" class="m-0 md-primary">{{plan.code}}</md-checkbox>
                                </span>
                            </div>
                        </md-content>
                    </div>

                </md-card-content>
            </md-card>

            <!--<div class="col-md-6">-->
            <!--<h4>SelectedPlans</h4>-->
            <!--<pre>{{couponPlan|json}}</pre>-->
            <!--</div>-->
            <!--CREATE NEW INVOICE _ CARDED=================================================-->
        </form>
    </md-content>
</div>
