
<md-tabs md-dynamic-height md-border-bottom class="read-view-tabs coupon-display-pane" md-selected="vm.selectedCouponTab" style="margin-top: 10px">

  <md-tab label="Coupon" >
    <!-- MAIL CONTENT -->
    <div ng-show="editOff">
      <div class="coupon-header" flex layout="row" layout-align="start center">
        <div class="summary" layout="column" layout-align="center start" style="padding: 0 10px;">
          <span class="name">{{ selectedCoupon.couponcode}}</span>
          <span class="code">Coupon No : {{ selectedCoupon.gucouponid}}</span>
        </div>
        <div class="status">
          <span flex ng-class="selectedCoupon.status" class="pill">{{selectedCoupon.status}}</span>
        </div>
      </div>
      <div class="summary" layout="column" layout-align="start start">
        <div class="info_sup">Summary</div>
        <div class="summary_list" layout="row" layout-align="start start">
          <div class="sum_column" flex layout="column" layout-align="start start">
            <div layout="row" layout-align="center center" flex>
              <div class="column_cell" layout="row" layout-align="center center" flex>
                <span flex>Start Date</span>
                <span flex>
                  <label>{{ selectedCoupon.startdate | date:'yyyy-MM-dd' }}</label>
                </span>
              </div>
              <div class="column_cell" layout="row" layout-align="center center" flex>
                <span flex>End Date</span>
                <span flex>
                  <label>
                    <label ng-if="selectedCoupon.enddate === ''">No end date</label>
                    <label ng-if="selectedCoupon.enddate != ''">{{ selectedCoupon.enddate| date:'yyyy-MM-dd'}} </label>
                  </label>
                </span>
              </div>
            </div>

            <div layout="row" layout-align="center center">
              <div class="column_cell" layout="row" layout-align="start center" flex>
                <span flex>Discount</span>
                <span flex>
                  <label>{{ selectedCoupon.discountamount}}</label>
                </span>
              </div>
              <div class="column_cell" layout="row" layout-align="start start" flex>
                <span flex>Discount Type</span>
                <span flex ng-show="selectedCoupon.discounttype === 0">
                  Flat
                </span>
                <span flex ng-show="selectedCoupon.discounttype === 1">
                  Percentage
                </span>
              </div>
            </div>

            <div layout="row" layout-align="center center">
              <div class="column_cell" layout="row" layout-align="start center" flex>
                <span flex>No of Occurrences</span>
                <span flex>
                  <label>{{ selectedCoupon.noofoccurence}}</label>
                </span>
              </div>
              <div class="column_cell" layout="row" layout-align="start start" flex>
                <span flex>Current Use</span>
                <span flex>
                  {{selectedCoupon.currentuse}}
                </span>
              </div>
            </div>

            <div layout="row" layout-align="center center">
              <div class="column_cell" layout="row" layout-align="start center" flex>
                <span flex>Redemption</span>
                <span flex>
                  <label>{{ selectedCoupon.redemption}}</label>
                </span>
              </div>
              <div class="column_cell" layout="row" layout-align="start start" flex>
                <span flex>Redemption Use</span>
                <span flex>
                  {{selectedCoupon.redemptionUse}}
                </span>
              </div>
            </div>

            <div layout="row" layout-align="start center" style="height: 50px;">
              <div layout="row" layout-align="start center">
                <md-checkbox ng-model="selectedCoupon.associateplan" aria-disabled="true" id="showApplyToAll" name="showApplyToAll" aria-label="Apply to all" class="md-primary" style="margin: 0;">Apply to all</md-checkbox>
              </div>
            </div>

          </div>
        </div>




        <md-card flex class="input-block-gen" ng-hide="selectedCoupon.associateplan">
          <md-card-title>
            <div layout="row" layout-align="start center">
              <md-icon md-font-icon="icon-package"></md-icon> <h3>Plan Details</h3>
            </div>
          </md-card-title>
          <md-card-content md-whiteframe="1dp">


            <!--<div class="prod-row-wrap" ng-repeat="plan in planList.slice().reverse()">-->
              <!--&lt;!&ndash;<md-card layout="row" id="divId" class="add-item-row"  md-whiteframe="1dp">&ndash;&gt;-->

              <!--<div layout="column" layout-align="center center" style="float: left;width: 200px">-->
                <!--<md-checkbox id="plan.guPlanID" ng-checked="couponPlan.indexOf(plan.guPlanID) === 0" name="plan.guPlanID" ng-click="selectPlan(plan.guPlanID)">{{plan.name}}-->
                  <!--<p>Code : {{plan.code}}</p>-->
                  <!--<p>Price : $ {{plan.unitPrice}}</p>-->
                <!--</md-checkbox>-->

              <!--</div>-->
              <!--&lt;!&ndash;</md-card>&ndash;&gt;-->
            <!--</div>-->

            <label ng-repeat="plan in planList" class="checkbox-inline">
              <input type="checkbox" name="selectedPlans[]" value="{{plan.guPlanID}}" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)"> {{plan.code}}
            </label>



          </md-card-content>
        </md-card>


    </div>
    </div>

    <div class="content-wrapper" flex ng-hide="editOff">
      <md-content style="height: 100%;padding-bottom: 50px" ms-scroll>
        <form name="vm.couponEdit" ng-submit="saveEdit()" id="couponEditForm" novalidate style="font-size: 14px;width: 100%;">
          <!--CREATE NEW INVOICE _ CARDED=================================================-->
          <md-card flex class="input-block-gen">
            <md-card-title>
              <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-cog"></md-icon> <h3>General Details</h3>
              </div>
            </md-card-title>
            <md-card-content>

              <div layout="row">
                <div layout="row" layout-align="start center" flex="30" class="state-capsule">
                  <div layout="row">
                    <span>Coupon Code</span>
                    <span>{{selectedCoupon.couponcode}}</span>
                  </div>
                </div>

                <div flex="5"></div>

                <md-input-container flex="30">
                  <label>Occurrences</label>
                  <input class="input-text-width" name="occurrencesEdit" required ng-model=" selectedCoupon.noofoccurence" type="number" min="1" max="1000000" >
                  <div ng-messages="vm.couponEdit.occurrencesEdit.$error">
                    <div ng-message="max">Occurrences must be between 1-7 digits</div>
                    <div ng-message="min">Occurrences must be between 1-7 digits</div>
                  </div>
                </md-input-container>

</div>
              <div layout="row">

                <md-input-container flex="30">
                  <label>Discount</label>
                  <input class="input-text-width" name="discountEdit" required ng-model=" selectedCoupon.discountamount" type="number" min="1" max="1000000" >
                  <div ng-messages="vm.couponEdit.discountEdit.$error">
                    <div ng-message="max">Discount must be between 1-7 digits</div>
                    <div ng-message="min">Discount must be between 1-7 digits</div>
                  </div>
                </md-input-container>

                <div flex="5"></div>

                <md-input-container flex="10">
                  <md-select name="discountType" required ng-model="selectedCoupon.discounttype">
                    <md-option value="0">Flat</md-option>
                    <md-option value="1">Percentage</md-option>
                  </md-select>
                </md-input-container>

                <div flex="5"></div>

                <md-input-container flex="30" ng-hide="selectedCoupon.noRedemptionCount">
                  <label>Redemption</label>
                  <input class="input-text-width" name="redemptionEdit" required ng-model=" selectedCoupon.editedRedemption" type="number" min="1" max="1000000" >
                  <div ng-messages="vm.couponEdit.redemptionEdit.$error">
                    <div ng-message="max">Redemption must be between 1-7 digits</div>
                    <div ng-message="min">Redemption must be between 1-7 digits</div>
                  </div>
                </md-input-container>

                <div flex="5"></div>

                <div layout="row" layout-align="start center">
                  <md-checkbox ng-model="selectedCoupon.noRedemptionCount" id="noRedemptionCount" name="noRedemptionCount" aria-label="noRedemptionCount" class="md-primary" style="margin: 0;">Apply forever</md-checkbox>
                </div>

              </div>

              <div layout="row" style="height: 95px;">
                <md-input-container flex="30">
                  <label>Start Date</label>
                  <md-datepicker ng-model="selectedCoupon.startdate" md-placeholder="Start date" ng-hide="editOff"></md-datepicker>
                </md-input-container>

                <div flex="5"></div>

                <div flex="30" layout="row">
                  <div layout="column" flex>
                    <md-input-container style="margin: 16px 0 0 0;">
                      <label>End Date</label>
                      <md-datepicker ng-model="selectedCoupon.enddate" md-placeholder="End date" ng-disabled="NoEndDate"></md-datepicker>
                    </md-input-container>
                  </div>
                </div>
              </div>

              <div layout="row" layout-align="start center" style="height: 50px;">
                <div layout="row" layout-align="start center">
                  <md-checkbox ng-model="selectedCoupon.associateplan" id="applyToAll" name="applyToAll" aria-label="Apply to all" class="md-primary" style="margin: 0;">Apply to all</md-checkbox>
                </div>
              </div>

            </md-card-content>
          </md-card>

          <md-card flex class="input-block-gen" ng-hide="selectedCoupon.associateplan">
            <md-card-title>
              <div layout="row" layout-align="start center">
                <md-icon md-font-icon="icon-package"></md-icon> <h3>Plan Details</h3>
              </div>
            </md-card-title>
            <md-card-content md-whiteframe="1dp">



              <label ng-repeat="plan in planList" class="checkbox-inline">
                <input type="checkbox" name="selectedPlans[]" value="{{plan.guPlanID}}" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)"> {{plan.code}}
              </label>




            </md-card-content>
          </md-card>
          <!--CREATE NEW INVOICE _ CARDED=================================================-->
        </form>
      </md-content>
    </div>


  </md-tab>

</md-tabs>
<div ng-hide="editOff" layout="row" layout-align="space-between center" md-whiteframe="8dp" style="position: fixed;bottom: 0;background: #fff;z-index: 9999;width: 100%;">
  <div layout="row"></div>

  <div layout="row" class="layout-row">
    <md-button ng-click="toggleEdit()">Cancel</md-button>
    <md-button ng-disabled="isSaveClicked" form="couponEditForm" type="submit" class="md-raised md-warn">Update</md-button>
  </div>
</div>
