<meta name="updatedBy" content="Ishara">
<meta name="owner" content="Ishara">
<meta name="modifiedDate" content="2017-04-20">
<meta name="version" content="6.1.0.1">
<meta name="app" content="coupon">
<meta name="view" content="coupon.html">

<div id="promomail" class="page-layout carded left-sidenav" layout="row" ng-switch="vm.appInnerState">
  <!-- TOP BACKGROUND -->
  <div class="top-bg md-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- SIDENAV -->
  <!--<md-sidenav class="sidenav" md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav"-->

              <!--ng-include="'app/main/coupon/sidenavs/main/main-sidenav.html'" ms-scroll ms-sidenav-helper>-->
  <!--</md-sidenav>-->
  <!-- / SIDENAV -->

  <!-- CENTER -->
  <div ng-switch-when="default" class="center" layout="column" flex>
      <!-- CONTENT HEADER- V NAV-->
      <div layout="column" layout-align="start start">
          <div class="v-header" layout="column" flex fill-width>
              <div class="title" layout="column" layout-align="center start">
                  <div class="logo" layout="row" layout-align="start center">
                        <span class="logo-icon">
                          <img src="app/core/app_icons/promotion_app_icon.png" alt=""/>
                        </span>
                      <span class="logo-text">Coupons</span>
                  </div>
              </div>
              <div layout="row">
                  <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex ng-class="{'op-5':vm.activePlanPaneIndex == 1}">
                      <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md aria-label="Toggle Sidenav">
                          <md-icon class="icon" md-font-icon="icon-menu"></md-icon>
                      </md-button>

                      <div class="search" flex layout="row" layout-align="start center">
                          <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                          <input ng-disabled="vm.activePlanPaneIndex == 1" flex ng-model="vm.search" type="text" ng-keypress="searchKeyPress($event,vm.search,vm.search.length)" ng-change="loadByKeywordPlan(vm.search,3)" placeholder="Search for coupons">
                      </div>
                  </div>
                  <md-button class="md-raised md-accent main-app-create" layout="row" layout-align="center center" aria-label="compose" ng-disabled="vm.activePlanPaneIndex == 1" ng-click="toggleReadPane()" ng-if="!inpageReadPaneEdit"><span class="fs-18 mr-10">+</span> NEW
                  </md-button>
              </div>
          </div>
          <!--<div class="v-nav">-->
          <!--<div ng-include="'app/main/plans/sidenavs/main/main-sidenav.html'"></div>-->
          <!--</div>-->

      </div>
      <!-- / CONTENT HEADER -->

      <div layout="row" flex>
          <!-- CONTENT CARD -->
          <div class="content-card" layout="column" ng-class="{'flex-30':showInpageReadpane}" flex>

              <!-- CONTENT TOOLBAR -->
              <div class="toolbar list-header" layout="row" layout-align="space-between center" ng-if="vm.activePlanPaneIndex === 0">
                  <div ng-include="'app/main/coupon/views/list/list-header.html'" layout="row" flex layout-align="start center"></div>
              </div>
              <div class="toolbar" layout="row" layout-align="end center" ng-if="vm.activePlanPaneIndex === 1">
                  <md-button class="md-icon-button" style="margin-right: -10px"
                             ng-click="closeReadPane()"
                             aria-label="Back">
                      <md-icon md-font-icon="icon-close"></md-icon>
                  </md-button>
              </div>
              <!-- / CONTENT TOOLBAR -->

              <!-- CONTENT WRAPPER -->
              <div class="content-wrapper" layout="row" flex>

                  <md-tabs md-selected="vm.activePlanPaneIndex" class="content-tabs" md-dynamic-height="{{vm.dynamicHeight}}" flex>
                      <!-- INVOICE LIST PANE -->
                      <md-tab>
                          <md-tab-label>Plans List Pane</md-tab-label>
                          <md-tab-body>
                              <div layout="row">
                                  <div flex class="content main-list-pane"
                                       ng-include="'app/main/coupon/views/list/list-view.html'" ms-scroll>
                                  </div>
                              </div>

                          </md-tab-body>
                      </md-tab>
                      <!-- / INVOICE LIST PANE -->

                      <!-- INVOICE DISPLAY PANE -->
                      <md-tab>
                          <md-tab-label>Plans Display Pane</md-tab-label>
                          <md-tab-body>
                              <div class="content plan-display-pane"
                                   ng-include="'app/main/coupon/views/read/read-view.html'" ms-scroll>
                              </div>
                              <div md-whiteframe="8dp" layout="row" layout-align="space-between center" class="bottom-fixed-bar fixed">
                                  <div layout="row"></div>

                                  <div layout="row" class="layout-row">
                                      <md-progress-circular class="gen-save-indicator" ng-if="isSaveClicked"></md-progress-circular>
                                      <md-button  ng-click="clearForm()">Clear</md-button>
                                      <md-button ng-disabled="isSaveClicked" type="submit" form="couponForm" class="md-raised md-accent">Save</md-button>
                                  </div>
                              </div>
                          </md-tab-body>
                      </md-tab>
                      <!-- / INVOICE DISPLAY PANE -->
                  </md-tabs>

              </div>
              <!-- / CONTENT WRAPPER -->

          </div>

          <div flex class="inpage-readpane" layout="column" md-whiteframe="4dp" ng-if="showInpageReadpane">
              <div layout="row" layout-align="space-between center" class="inpage-readpane-toolbar">
                  <h3 class="group-sub-head" layout="row" layout-align="start center">Coupon info</h3>
                  <div layout="row">
                      <md-menu>
                          <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                              <md-icon md-font-icon="icon-menu"></md-icon>
                              <md-tooltip>Actions</md-tooltip>
                          </md-button>

                          <md-menu-content width="3">
                              <md-menu-item>
                                  <md-button ng-disabled="inpageReadPaneEdit" aria-label="Delete" ng-click="toggleEdit(toggleControllText)">
                                      <md-icon md-font-icon="icon-pencil"></md-icon>
                                      <span>Edit</span>
                                  </md-button>
                              </md-menu-item>
                              <md-menu-item>
                                  <md-button aria-label="Delete" ng-click="showDeactivatePlanConfirm($event,vm.selectedPlan)" ng-disabled="vm.selectedPlan.status == 'Inactive'">
                                      <md-icon md-font-icon="icon-close-circle"></md-icon>
                                      <span>Deactivate</span>
                                  </md-button>
                              </md-menu-item>
                          </md-menu-content>
                      </md-menu>
                      <md-button class="md-icon-button" ng-click="switchInfoPane('close',vm.selectedPlan)">
                          <md-icon md-font-icon="icon-close"></md-icon>
                          <md-tooltip>Close</md-tooltip>
                      </md-button>
                  </div>
              </div>
              <div flex layout="column" class="inpage-readpane-body p-0" ng-if="!inpageReadPaneEdit">
                  <div class="p-16" layout="row" layout-align="space-between center" ng-if="editOff">
                      <div>
                          <div layout="column" layout-align="center start">
                              <div class="fs-20 font-accent fw-400">{{selectedCoupon.couponcode}}</div>
                              <!--<div layout="row" class="op-5 fs-12 mt-5">-->
                                  <!--<span>Coupon ID : <b>{{ selectedCoupon.gucouponid}}</b></span>-->
                              <!--</div>-->
                          </div>
                      </div>
                      <div>
                          <span class="pill" layout="row" layout-align="center center" ng-class="{'negative':selectedCoupon.status==='Expired','positive':selectedCoupon.status==='Active'}">{{selectedCoupon.status}}</span>
                      </div>
                  </div>
                  <md-divider class="mt-10" ng-if="editOff"></md-divider>
                  <md-content ng-if="editOff" flex ms-scroll class="p-16 pt-20">
                      <div layout="row" layout-align="start start">
                          <div class="main-list-preloader animate-fade-in-out" layout="row" layout-sm="column" layout-align="space-around" ng-if="!isReadLoaded">
                              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                          </div>
                          <div flex class="mr-15">
                              <div layout="row" layout-align="start center" class="info-grid-row mb-40">
                                  <div class="iconed-label"><span>Type</span></div>
                                  <span class="secondary-state-capsule">
                                      <span ng-show="selectedCoupon.discounttype === 0">Flat</span>
                                      <span ng-show="selectedCoupon.discounttype === 1">Percentage</span>
                                  </span>
                              </div>
                              <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                                  <div flex="40" class="iconed-label">
                                      <md-icon md-font-icon="icon-calendar-today"></md-icon> <span>Start date</span>
                                  </div>
                                  <div flex class="">{{ selectedCoupon.startdate | date:'yyyy-MM-dd' }}</div>
                              </div>
                              <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                                  <div flex="40" class="iconed-label">
                                      <md-icon md-font-icon="icon-calendar-check"></md-icon> <span>End date</span>
                                  </div>
                                  <div flex class="">
                                      <span ng-if="selectedCoupon.enddate != ''">{{ selectedCoupon.enddate| date:'yyyy-MM-dd'}}</span>
                                      <span ng-if="selectedCoupon.enddate == ''">No end date</span>
                                  </div>
                              </div>
                              <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                                  <div flex="40" class="iconed-label">
                                      <md-icon md-font-icon="icon-timetable"></md-icon> <span>No of occurrences</span>
                                  </div>
                                  <div flex class="">{{ selectedCoupon.noofoccurence}}</div>
                              </div>
                              <div layout="row" layout-align="start center" class="info-grid-row bordered-dark">
                                  <div flex="40" class="iconed-label">
                                      <md-icon md-font-icon="icon-gift"></md-icon> <span>Redemption</span>
                                  </div>
                                  <div flex class="">
                                      <span ng-if="selectedCoupon.redemption != '-999'">{{ selectedCoupon.redemption}}</span>
                                      <span ng-if="selectedCoupon.redemption == '-999'" class="op-5">-</span>
                                  </div>
                              </div>
                              <div layout="row" layout-align="start center" class="info-grid-row">
                                  <div flex="40" class="iconed-label">
                                      <md-icon md-font-icon="icon-wallet-giftcard"></md-icon> <span>Redemption used</span>
                                  </div>
                                  <div flex class="">
                                      {{selectedCoupon.redemptionUse}}
                                  </div>
                              </div>
                          </div>
                          <div class="dashboard-portion pv-50" flex="40" layout="column" layout-align="center center">
                              <div class="text-center">
                                  <div>Discount</div>
                                  <div class="fs-46 font-accent fw-500">
                                      <label ng-if="selectedCoupon.discounttype === 1">{{ selectedCoupon.discountamount}} %</label>
                                      <label ng-if="selectedCoupon.discounttype === 0">{{ selectedCoupon.discountamount | isoCurrency:baseCurrency:0}}</label>
                                  </div>
                              </div>
                              <div class="text-center">
                                  <div>Currently used</div>
                                  <div class="fs-46">
                                      <span>{{selectedCoupon.currentuse}} </span> <span>/ {{ selectedCoupon.noofoccurence}}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <md-card class="input-block-gen mt-30 m-0" ng-hide="selectedCoupon.associateplan">
                          <md-card-title>
                              <div layout="row" layout-align="start center">
                                  <md-icon md-font-icon="icon-attachment"></md-icon> <h3>Entitled plans</h3>
                              </div>
                          </md-card-title>
                          <md-card-content>
                              <div>
                                  <div layout="row" layout-align="start center" ng-repeat="plan in planList" class="p-5" ng-if="couponPlan.indexOf(plan.guPlanID) > -1">
                                      <md-icon md-font-icon="icon-map" class="mr-10 fs-20 op-5"></md-icon> <span flex class="text-left"> <b>{{plan.code}}</b></span>
                                  </div>
                              </div>
                              <!--<label ng-repeat="plan in planList" class="checkbox-inline">-->
                                  <!--<input type="checkbox" name="selectedPlans[]" value="{{plan.guPlanID}}" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)"> {{plan.code}}-->
                              <!--</label>-->
                          </md-card-content>
                      </md-card>
                  </md-content>
                  <md-content flex ms-scroll layout="column" ng-if="!editOff" ng-style="{'background-color': inpageReadPaneEdit ? '#fff' : ''}">
                      <form name="vm.couponEdit" ng-submit="saveEdit()" id="couponEditForm" novalidate style="font-size: 14px;width: 100%;">
                          <!--CREATE NEW INVOICE _ CARDED=================================================-->
                          <md-card flex class="input-block-gen">
                              <md-card-title>
                                  <div layout="row" layout-align="start center">
                                      <md-icon md-font-icon="icon-cog"></md-icon> <h3>General details</h3>
                                  </div>
                              </md-card-title>
                              <md-card-content>
                                  <div layout="row">
                                      <div layout="row" layout-align="start center" flex="30" class="state-capsule">
                                          <div layout="row">
                                              <span>Coupon code</span>
                                              <span>{{selectedCoupon.couponcode}}</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div layout="row">
                                      <md-input-container flex="30">
                                          <label>Start Date</label>
                                          <md-datepicker ng-model="selectedCoupon.startdate" md-placeholder="Start date" ng-hide="editOff"></md-datepicker>
                                      </md-input-container>
                                      <div flex="5"></div>
                                      <md-input-container flex="30">
                                          <label>End Date</label>
                                          <md-datepicker ng-model="selectedCoupon.enddate" md-placeholder="End date" ng-disabled="NoEndDate"></md-datepicker>
                                      </md-input-container>
                                  </div>
                                  <div layout="row">
                                      <md-input-container flex="30">
                                          <label>Occurrences</label>
                                          <input class="input-text-width" name="occurrencesEdit" required ng-model=" selectedCoupon.noofoccurence" type="number" min="1" max="1000000" >
                                          <div ng-messages="vm.couponEdit.occurrencesEdit.$error">
                                              <div ng-message="max">Occurrences must be between 1-7 digits</div>
                                              <div ng-message="min">Occurrences must be between 1-7 digits</div>
                                          </div>
                                      </md-input-container>
                                  </div>
                              </md-card-content>
                          </md-card>
                          <md-card flex class="input-block-gen">
                              <md-card-title>
                                  <div layout="row" layout-align="start center">
                                      <md-icon md-font-icon="icon-gift"></md-icon> <h3>Discount details</h3>
                                  </div>
                              </md-card-title>
                              <md-card-content>
                                  <div layout="row">
                                      <md-input-container flex="30">
                                          <label>Discount type</label>
                                          <md-select name="discountType" ng-required ng-model="selectedCoupon.discounttype">
                                              <md-option value="0">Flat</md-option>
                                              <md-option value="1">Percentage</md-option>
                                          </md-select>
                                      </md-input-container>
                                  </div>
                                  <div layout="row">
                                      <md-input-container flex="30">
                                          <label>Discount</label>
                                          <input class="input-text-width" name="discountEdit" required ng-model=" selectedCoupon.discountamount" type="number" min="1" max="1000000" >
                                          <div ng-messages="vm.couponEdit.discountEdit.$error">
                                              <div ng-message="max">Discount must be between 1-7 digits</div>
                                              <div ng-message="min">Discount must be between 1-7 digits</div>
                                          </div>
                                      </md-input-container>
                                      <div flex="5"></div>
                                      <div flex="30">
                                          <div layout="column" flex>
                                              <md-input-container class="mb-0">
                                                  <label>Redemption</label>
                                                  <input ng-disabled="selectedCoupon.noRedemptionCount" class="input-text-width" name="redemptionEdit" required ng-model=" selectedCoupon.editedRedemption" type="number" min="1" max="1000000" >
                                                  <div ng-messages="vm.couponEdit.redemptionEdit.$error" ng-if="!selectedCoupon.noRedemptionCount">
                                                      <div ng-message="max">Redemption must be between 1-7 digits</div>
                                                      <div ng-message="min">Redemption must be between 1-7 digits</div>
                                                  </div>
                                              </md-input-container>
                                              <md-checkbox ng-model="selectedCoupon.noRedemptionCount" id="noRedemptionCount" name="noRedemptionCount" aria-label="noRedemptionCount" class="md-primary dep-checkbox">Apply forever</md-checkbox>
                                          </div>
                                      </div>
                                  </div>
                              </md-card-content>
                          </md-card>
                          <md-card flex class="input-block-gen">
                              <md-card-title>
                                  <div layout="row" layout-align="start center">
                                      <md-icon md-font-icon="icon-map"></md-icon> <h3>Entitled plans</h3>
                                  </div>
                              </md-card-title>
                              <md-card-content md-whiteframe="1dp">

                                  <!--<div class="prod-row-wrap" ng-repeat="plan in planList.slice().reverse()">-->
                                  <!--&lt;!&ndash;<md-card layout="row" id="divId" class="add-item-row"  md-whiteframe="1dp">&ndash;&gt;-->

                                  <!--<div layout="column" layout-align="center center" style="float: left;width: 200px">-->
                                  <!--<md-checkbox id="plan.guPlanID" ng-checked="couponPlan.indexOf(plan.guPlanID) === 0" name="plan.guPlanID" ng-click="selectPlan(plan.guPlanID)">{{plan.name}}-->
                                  <!--<p>Code : {{plan.code}}</p>-->
                                  <!--<p>Price : $ {{plan.unitPrice}}</p>-->
                                  <!--</md-checkbox>-->

                                  <!--</div>-->
                                  <!--&lt;!&ndash;</md-card>&ndash;&gt;-->
                                  <!--</div>-->

                                  <!--<div layout="row" layout-align="start center" style="height: 50px;">-->
                                      <!--<div layout="row" layout-align="start center">-->
                                          <!--<md-checkbox ng-model="selectedCoupon.associateplan" id="applyToAll" name="applyToAll" aria-label="Apply to all" class="md-primary" style="margin: 0;">Apply to all</md-checkbox>-->
                                      <!--</div>-->
                                  <!--</div>-->

                                  <!--<label ng-repeat="plan in planList" class="checkbox-inline">-->
                                      <!--<input type="checkbox" name="selectedPlans[]" value="{{plan.guPlanID}}" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)"> {{plan.code}}-->
                                  <!--</label>-->


                                  <div class="b b-light" style="overflow: hidden;">
                                      <div md-whiteframe="1dp" class="pos-rel" style="z-index: 1;">
                                          <div class="p-10 light-gray">
                                              <md-checkbox ng-model="selectedCoupon.associateplan" id="applyToAll" name="applyToAll" aria-label="Apply to all" class="md-primary m-0">Apply to all</md-checkbox>
                                          </div>
                                      </div>
                                      <div class="msg-empty-list" ng-if="planList.length == 0">
                                        <span>
                                            <md-icon md-font-icon="icon-information-outline"></md-icon> No plan has been created yet
                                        </span>
                                      </div>
                                      <div class="msg-empty-list" ng-if="selectedCoupon.associateplan" layout="row" layout-align="center center">
                                          <span>
                                              <md-icon md-font-icon="icon-information-outline"></md-icon> Coupon is entitled for all the plans
                                          </span>
                                      </div>
                                      <md-content ms-scroll class="subheaded-list-content mh-352" flex ng-if="!selectedCoupon.associateplan">
                                          <div class="p-10" layout="row" ng-repeat="plan in planList">
                                              <span flex>
                                                  <md-checkbox ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)" name="selectedPlans[]" class="m-0 md-primary">{{plan.code}}</md-checkbox>
                                              </span>
                                          </div>
                                      </md-content>
                                  </div>

                              </md-card-content>
                          </md-card>
                          <!--CREATE NEW INVOICE _ CARDED=================================================-->
                      </form>
                  </md-content>
                  <div layout="row" layout-align="end center" md-whiteframe="8dp" class="bottom-fixed-bar" ng-if="!editOff">
                      <div layout="row"></div>
                      <div layout="row" class="layout-row">
                          <md-progress-circular class="gen-save-indicator" ng-if="isSaveClicked"></md-progress-circular>
                          <md-button ng-click="editPlan(tempEditPlan)">Reset</md-button>
                          <md-button ng-disabled="isSaveClicked" type="submit" form="couponEditForm" class="md-raised md-accent">Update</md-button>
                      </div>
                  </div>
              </div>
          </div>
          <!-- / CONTENT CARD -->

      </div>
    <!-- CONTENT HEADER -->
    <!--<div class="header" layout="row" layout-align="start center" ng-if="vm.activeCouponPaneIndex==0">-->

      <!--<div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>-->
        <!--<md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')" hide-gt-md-->
                   <!--aria-label="Toggle Sidenav">-->
          <!--<md-icon class="icon" md-font-icon="icon-menu"></md-icon>-->
        <!--</md-button>-->

        <!--<div class="search" flex layout="row" layout-align="start center">-->
          <!--<md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>-->
          <!--<input flex ng-model="vm.search" type="text" placeholder="Search for coupon" ng-change="SearchByKeyword()">-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <!--<div class="content-card" layout="column" flex>-->

      <!--&lt;!&ndash; INVOICE VIEW PANE TOOLBAR &ndash;&gt;-->
      <!--<div class="toolbar" layout="row" layout-align="space-between center" ng-if="vm.activeCouponPaneIndex === 1" style="height: 44px;">-->
        <!--<md-button class="md-icon-button"-->
                   <!--ng-click="closeReadPane()"-->
                   <!--aria-label="Back">-->
          <!--<md-icon md-font-icon="icon-keyboard-backspace"></md-icon>-->
        <!--</md-button>-->
      <!--</div>-->
      <!--&lt;!&ndash; / INVOICE VIEW PANE TOOLBAR &ndash;&gt;-->

      <!--&lt;!&ndash; CONTENT TOOLBAR &ndash;&gt;-->
      <!--&lt;!&ndash;<div class="toolbar list-header" ng-if="vm.activeCouponPaneIndex === 0">&ndash;&gt;-->

        <!--&lt;!&ndash;<div layout="row" flex layout-align="start center" style="padding-left: 0px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="info" flex layout="row" style="height: 40px">&ndash;&gt;-->

            <!--&lt;!&ndash;&lt;!&ndash;<div class="prodMainInfo" layout="column" layout-align="center start" style="width: 190px;">&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="promoMainInfo" layout="column" layout-align="center start" flex>&ndash;&gt;-->
              <!--&lt;!&ndash;Coupon&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="date" class="prodMainInfo topMargin" flex layout="column" layout-align="center start">&ndash;&gt;-->
              <!--&lt;!&ndash;Start Date&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="date" flex layout="column" layout-align="center start">&ndash;&gt;-->
              <!--&lt;!&ndash;End Data&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="date" flex="20" layout="column" layout-align="center start">&ndash;&gt;-->
              <!--&lt;!&ndash;Occurrences&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="date" class="prodMainInfo topMargin" flex="10" layout="column" layout-align="center start">&ndash;&gt;-->
              <!--&lt;!&ndash;Status&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash; / CONTENT TOOLBAR &ndash;&gt;-->
      <!--&lt;!&ndash; CONTENT WRAPPER &ndash;&gt;-->
      <!--&lt;!&ndash;<div class="content-wrapper" layout="row" flex>&ndash;&gt;-->

        <!--&lt;!&ndash;<md-tabs md-selected="vm.activeCouponPaneIndex" class="promomail-tabs"  md-dynamic-height="{{vm.dynamicHeight}}" flex>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash; INVOICE LIST PANE &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<md-tab>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash;<md-tab-label>Coupon | Start date | End date | No of occurence | Status</md-tab-label>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<md-tab-body>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="preloader" layout="row" layout-sm="column" layout-align="space-around" ng-hide="vm.listLoaded">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-progress-circular md-mode="indeterminate"></md-progress-circular>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="content promomail-list-pane"&ndash;&gt;-->
                   <!--&lt;!&ndash;ng-include="'app/main/coupon/views/list/list-view.html'" ms-scroll>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</md-tab-body>&ndash;&gt;-->
          <!--&lt;!&ndash;</md-tab>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash; / INVOICE LIST PANE &ndash;&gt;&ndash;&gt;-->

          <!--&lt;!&ndash;&lt;!&ndash; INVOICE DISPLAY PANE &ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<md-tab>&ndash;&gt;-->
            <!--&lt;!&ndash;<md-tab-body>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="content coupon-display-pane"&ndash;&gt;-->
                   <!--&lt;!&ndash;ng-include="'app/main/coupon/views/read/read-view.html'" id="editPromContainer" ms-scroll>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</md-tab-body>&ndash;&gt;-->
          <!--&lt;!&ndash;</md-tab>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash; / INVOICE DISPLAY PANE &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</md-tabs>&ndash;&gt;-->

      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash; / CONTENT WRAPPER &ndash;&gt;-->

    <!--</div>-->
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->

  <!-- CENTER -->
  <!--<div ng-switch-when="add" class="center" layout="column" flex>-->
    <!--&lt;!&ndash; CONTENT HEADER &ndash;&gt;-->
    <!--&lt;!&ndash; / CONTENT HEADER &ndash;&gt;-->

    <!--&lt;!&ndash; CONTENT CARD &ndash;&gt;-->
    <!--<div class="content-card" layout="column" flex>-->
      <!--&lt;!&ndash; / CONTENT TOOLBAR &ndash;&gt;-->

      <!--&lt;!&ndash; CONTENT WRAPPER &ndash;&gt;-->
      <!--<div class="content-wrapper" flex>-->
        <!--<md-content style="height: 100%;" ms-scroll>-->

          <!--<form name="vm.couponAdd" ng-submit="submit()" id="couponForm" novalidate>-->
            <!--&lt;!&ndash;CREATE NEW INVOICE _ CARDED=================================================&ndash;&gt;-->
            <!--<md-card flex class="input-block-gen">-->
              <!--<md-card-title>-->
                <!--<div layout="row" layout-align="start center">-->
                  <!--<md-icon md-font-icon="icon-cog"></md-icon> <h3>General Details</h3>-->
                <!--</div>-->
              <!--</md-card-title>-->
              <!--<md-card-content>-->
                <!--<div layout="row">-->
                  <!--<md-input-container flex="30">-->
                    <!--<label>Coupon Code</label>-->
                    <!--<input ng-required="true" minlength="null"  md-maxlength="null" type="" name="couponCode" ng-pattern="" ng-model="content.couponcode" ng-maxlength="20">-->
                    <!--<div ng-messages="vm.couponAdd.couponCode.$error">-->
                      <!--<div ng-message="maxlength">Code must be between 1-20 characters</div>-->
                    <!--</div>-->
                  <!--</md-input-container>-->

                  <!--<div flex="5"></div>-->

                  <!--<md-input-container flex="20">-->
                    <!--<label>Discount</label>-->
                    <!--<input ng-required="true" minlength="null"  md-maxlength="null" type="number" min="1" name="couponDiscount" ng-pattern="" ng-model="content.couponDiscount" ng-maxlength="20">-->
                    <!--<div ng-messages="vm.couponAdd.couponDiscount.$error">-->
                      <!--<div ng-message="maxlength">Discount must be between 1-20 characters</div>-->
                    <!--</div>-->
                  <!--</md-input-container>-->

                  <!--<div flex="5"></div>-->

                  <!--<md-input-container flex="10">-->
                    <!--<md-select name="addDiscountType" required ng-model="content.discounttype">-->
                      <!--<md-option value="0" >Flat</md-option>-->
                      <!--<md-option value="1" >Percentage</md-option>-->
                    <!--</md-select>-->
                  <!--</md-input-container>-->

                <!--</div>-->

                <!--<div layout="row">-->

                  <!--<md-input-container flex="30">-->
                    <!--<label>Occurrences</label>-->
                    <!--<input ng-required="true" minlength="null" md-maxlength="null" type="number" min="1" max="1000000" name="default1" ng-pattern="" ng-model="content.noofoccurence">-->
                    <!--<div ng-messages="vm.couponAdd.default1.$error">-->
                      <!--<div ng-message="max">Occurrences must be between 1-7 digits</div>-->
                      <!--<div ng-message="min">Occurrences must be between 1-7 digits</div>-->
                    <!--</div>-->
                  <!--</md-input-container>-->

                  <!--<div flex="5"></div>-->

                  <!--<md-input-container flex="30" ng-hide="content.noRedemptionCount">-->
                    <!--<label>Redemption</label>-->
                    <!--<input ng-required="!content.noRedemptionCount" minlength="null"  md-maxlength="null" type="number" name="couponRedemption" ng-pattern="" ng-model="content.couponRedemption" ng-maxlength="20">-->
                    <!--<div ng-messages="vm.couponAdd.couponRedemption.$error">-->
                      <!--<div ng-message="maxlength">Redemption must be between 1-20 characters</div>-->
                    <!--</div>-->
                  <!--</md-input-container>-->


                  <!--<div flex="5"></div>-->

                  <!--<div layout="row" layout-align="start center">-->
                    <!--<md-checkbox ng-model="content.noRedemptionCount" id="noRedemptionCount" name="noRedemptionCount" aria-label="noRedemptionCount" class="md-primary" style="margin: 0;">Apply forever</md-checkbox>-->
                  <!--</div>-->

                <!--</div>-->

                <!--<div layout="row" style="height: 95px;">-->
                  <!--<md-input-container flex="30">-->
                    <!--<label>Start Date</label>-->
                    <!--<md-datepicker ng-model="content.startdate" md-placeholder="Start date" >-->
                    <!--</md-datepicker>-->
                  <!--</md-input-container>-->

                  <!--<div flex="5"></div>-->

                  <!--<div flex="30" layout="row">-->
                    <!--<div layout="column" flex>-->
                      <!--<md-input-container style="margin: 16px 0 0 0;">-->
                        <!--<label>End Date</label>-->
                        <!--<md-datepicker ng-model="content.enddate" md-placeholder="End date" ng-required="!NoEndDate" ng-disabled="NoEndDate">-->
                        <!--</md-datepicker>-->
                      <!--</md-input-container>-->
                      <!--&lt;!&ndash;<md-checkbox ng-click="clickNoEndDate(NoEndDate)" ng-checked="NoEndDate" id="noEndDateCheckBox" name="noEndDateCheckBox" aria-label="No End date" class="md-primary dep-checkbox">No End Date</md-checkbox>&ndash;&gt;-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div layout="row" layout-align="start center" style="height: 50px;">-->
                  <!--<div layout="row" layout-align="start center">-->
                    <!--<md-checkbox ng-model="content.associateplan" id="applyToAll" name="applyToAll" aria-label="Apply to all" class="md-primary" style="margin: 0;">Apply to all</md-checkbox>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</md-card-content>-->
            <!--</md-card>-->
            <!--<md-card flex class="input-block-gen" ng-hide="content.associateplan">-->
              <!--<md-card-title>-->
                <!--<div layout="row" layout-align="start center">-->
                  <!--<md-icon md-font-icon="icon-package"></md-icon> <h3>Plan Details</h3>-->
                <!--</div>-->
              <!--</md-card-title>-->
              <!--<md-card-content md-whiteframe="1dp">-->


                <!--<label ng-repeat="plan in planList" class="checkbox-inline">-->
                  <!--<input type="checkbox" name="selectedPlans[]" value="{{plan.guPlanID}}" ng-checked="couponPlan.indexOf(plan.guPlanID) > -1" ng-click="toggleSelection(plan.guPlanID)"> {{plan.code}}-->
                <!--</label>-->


              <!--</md-card-content>-->
            <!--</md-card>-->
            <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
              <!--&lt;!&ndash;<h4>SelectedPlans</h4>&ndash;&gt;-->
              <!--&lt;!&ndash;<pre>{{couponPlan|json}}</pre>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;CREATE NEW INVOICE _ CARDED=================================================&ndash;&gt;-->
          <!--</form>-->

        <!--</md-content>-->
        <!--<div ng-init="submitted=false" layout="row" layout-align="space-between center" md-whiteframe="8dp" style="position: absolute;bottom: 0;width: 100%;background: #ffffff;z-index:9999;">-->
          <!--<div layout="row"></div>-->

          <!--<div layout="row" class="layout-row">-->
            <!--<md-button  ng-click="clearForm()">Clear</md-button>-->
            <!--<md-button ng-disabled="isSaveClicked" type="submit" form="couponForm" class="md-raised md-warn">Submit</md-button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; / CONTENT WRAPPER &ndash;&gt;-->

    <!--</div>-->
    <!--&lt;!&ndash; / CONTENT CARD &ndash;&gt;-->
  <!--</div>-->
  <!-- / CENTER -->

</div>
